<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-logging" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-logging</name>
    <js-module name="cordova-plugin-logging" src="www/cordova-plugin-logging.js">
        <clobbers target="cordova.plugins.cordova-plugin-logging" />
    </js-module>
</plugin>
